@using BabyMemory_V2
<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a asp-controller="About" asp-action="Index" class="text-gray">@L("BabyMemory")</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>@L("Version")</b> @AppVersionHelper.VersionSite 
    </div>
</footer>
