@using BabyMemory_V2.Web.Startup
@{
    ViewBag.Title = L("News");
    ViewBag.CurrentPageName = PageNames.News;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/News/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        @*Todo: MIN version*@
        <script src="~/view-resources/Views/News/news-index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("News")</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row" id="news-wraper">
                @*News from Api Container*@
            </div>
        </div>
    </div>
</section>